@font-face {
  font-family: "Aestetic";
  src: url("../../public/fonts/Fontspring-DEMO-aestetico-bold.otf")
    format("opentype");
}

body {
  font-family: "Aestetic", sans-serif;
  margin: 0;
  padding: 0;
}
