@font-face {
  font-family: Aestetico;
  font-weight: bold;
  src: url("../public/fonts/Fontspring-DEMO-aestetico-bold.otf")
    format("opentype");
}

body {
  background-color: #272343;
  margin: 0;
  padding: 0;
}
