@font-face {
  font-family: Aestetico;
  font-weight: bold;
  src: url("../public/fonts/Fontspring-DEMO-aestetico-bold.otf")
    format("opentype");
}

@tailwind base;
@tailwind utilities;
@tailwind components;

body {
  /* background-color: #0c2233; */
  margin: 0;
  padding: 0;
}

.title-container {
  display: flex;
}
